<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
   <title >Profile Page</title>
</head>
<body>
   <div id = "content">

    <!--sidebar-->

    <div th:if="${loggedinUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>


    <div  class="sm:pl-64 pt-20" style="height: 1000px">
        <div  class="flex justify-center pt-32">
        

<div class="w-full max-w-2xl bg-yellow-200 border-2 border-red-700 rounded-3xl shadow-8xl p-8 py-6  hover:bg-yellow-300  dark:border-red-500  dark:bg-gray-700  dark:hover:bg-gray-600">
    <div class="flex flex-col items-center">
       
        <!-- Dropdown menu -->
       
    </div>
    <div class="flex flex-col mb-2 items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://lh3.googleusercontent.com/a/ACg8ocILK4pfKHoDIwZrBJzrhs5OVj4fKRsbfyVqFp0Q8r-sNr41NxbD=s96" alt="Bonnie image"/>
        <h2 class="text-2xl font-semibold mb-5" data-th-text=${loggedinUser.name}>User Name</h2>

                <h1 class="text-2xl">Email</h1>
                <p  class=" text-green-500 mb-2 text-xl" data-th-text="${loggedinUser.email}">user.email@example.com</p>
                <h1 class="justify-start text-2xl">Phone Number</h1>
                <p class="text-green-500 mb-2 text-xl" data-th-text="${loggedinUser.phoneNumber}">123-456-7890</p>
                <h1 class="text-2xl">About</h1>
                <p class="text-green-500 mb-4 text-xl" data-th-text="${loggedinUser.about}">About the user...</p>
                 <p class="text-3xl text-gray-800 text- dark:text-white">Welcome to CMS </p><p class="text-green-500 text-xl"data-th-text="${loggedinUser.name}"  ></p>
                </div>
                
                
                

   
</div>

 
        </div>
     </div>
   </div>
    <script>
        console.log("This is Dashboard page");
    </script>
</body>
</html>