<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
   <title>Contact Page</title>
</head>
<body>
   
    <div id = "content">
        <h1 class="text-5xl">Welcome to Contact Page</h1>
        
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus pariatur accusantium non incidunt fugiat! In odio voluptatem corrupti quas aperiam, quasi vel reprehenderit eum. Accusamus saepe quo accusantium ducimus.</p>


    </div>
    <script>
        console.log("Contact Page");
    </script>
</body>
</html>